.flight_container {
    border: 1px solid rgb(141, 134, 134);
    border-radius: 20px;
    padding: 20px;
}

.flight_container p {
    margin: 0;
    margin-left: 0;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.flight_container p:last-child {
    border-bottom: none;
}

.flight_container p:first-child {
    font-weight: bold;
}

.flight_container p:nth-child(odd) {
    background-color: #f9f9f9;
}

.flight_container p:hover {
    background-color: #f0f0f0;
   
}

.flight_container p a {
    text-decoration: underline;
    color: #007bff; /* blue color */
    cursor: pointer;
}