header,
body,
* {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  width: 253px;
  height: 53px;
  object-fit: contain;
  margin-top: 5px;
}

.grid-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.grid-item {
  padding: 10px 35px;
  border: none;
}

.grid-item.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65.4px 10px;
  background-color: #484848;
  border: none;
}
.grid-item.second-row {
  border-right: 1px solid gray;
}

.grid-item.departing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 41px;
  padding-bottom: 39px;
  border-right: 1px solid gray;
}

.grid-item.arriving {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 41px;
  padding-bottom: 39px;
  border: none;
}

.first-row {
  background-color: #484848;
}

.second-row {
  background-color: #484848;
}

.arriving,
.departing {
  background-color: #e83c38;
}

section {
  display: flex;
}

.airplane,
.confirm-booking {
  flex: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

.plane {
  margin: 20px auto;
  max-width: 300px;
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    border-radius: 50%;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  h1 {
    width: 60%;
    margin: 100px auto 35px auto;
  }
}

.exit {
  position: relative;
  height: 50px;
  &:before,
  &:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
  &:nth-child(3) {
    margin-right: 14.28571428571429%;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  input[type="checkbox"]:checked {
    + label {
      background: cyan;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type="checkbox"]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: red;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;

    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255, 255, 255, 0.4);
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5c6aff;
    }
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.selected {
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid red;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.red-bullet {
  list-style-type: none;
}

.red-bullet li:before {
  content: "\2022";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 2em;
}

.underline {
  padding: 2px;
  width: 50px;
  border: 1px solid red;
  background-color: red;
}

.confirm-booking > div {
  margin-bottom: 20px;
}

.type {
  display: flex;
  align-items: center;
}

.ticket-type {
  margin-right: 10px;
}

.status-box-1,
.status-box-2,
.status-box-3 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.status-box-1 {
  background-color: red;
}

.status-box-2 {
  background-color: cyan;
}
.status-box-3 {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-box-3::before {
  content: "X";
  font-size: 14px;
}

.available,
.choosing,
.is-booked {
  display: flex;
  align-items: center;
}

.seat-status {
  margin-top: 50px;
  margin-left: 60px;
}

.seat-selected {
  flex-direction: row;
  margin-right: 30px;
}

.confirm-booking {
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
}

.explanation {
  margin-left: 15px;
}

.container {
  width: 753px;
  height: 850px;
  border: 1px solid gray;
}

.confirm-yes-no {
  border-top: 1px solid gray;
  margin-top: 230px;
  display: flex;
  justify-content: space-around;
}

.button3 {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  border-radius: 5px;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
